#ctrl_k {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	pointer-events: none;
	opacity: 0;
	background-color: rgba(25, 95, 207, 0.70);
	z-index: 2000;
	display: flex;
	justify-content: center;
	transition: cubic-bezier(0.19, 1, 0.22, 1) 200ms opacity;
	cursor: pointer;
}

#ctrl_k.is-visible {
	pointer-events: all;
	opacity: 1;
}

#ctrl_k input {
	width: 100%;
	color: #657685;
	font-size: 2.4rem;
	padding: 3rem 2rem;
	border: 0;
}

#ctrl_k.has-results input {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

#ctrl_k .algolia-autocomplete {
	width: 100%;
	max-width: 750px;
	margin: 0 3rem;
	box-sizing: border-box;
	margin-top: 20vh;
}

#ctrl_k .algolia-autocomplete .aa-input, #ctrl_k .algolia-autocomplete .aa-hint {
	width: 100%;
}

#ctrl_k .algolia-autocomplete .aa-hint {
	color: #999;
}

#ctrl_k .algolia-autocomplete .aa-dropdown-menu {
	width: 100%;
	background-color: #f4f8fb;
	border-top: none;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	overflow: hidden;
	top: auto !important;
	max-height: 50vh;
}

#ctrl_k .algolia-autocomplete .aa-dropdown-menu .aa-suggestion {
	cursor: pointer;
	padding: 1rem 2rem;
}

#ctrl_k .algolia-autocomplete .aa-dropdown-menu .aa-suggestion.aa-cursor {
	background-color: #3275ee;
	color: #fff;
}

#ctrl_k .algolia-autocomplete .aa-dropdown-menu .aa-suggestion em {
	font-weight: bold;
	font-style: normal;
}

#ctrl_k input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	color: #65768570;
}

#ctrl_k input::-moz-placeholder { /* Firefox 19+ */
	color: #65768570;
}

#ctrl_k input:-ms-input-placeholder { /* IE 10+ */
	color: #65768570;
}

#ctrl_k input:-moz-placeholder { /* Firefox 18- */
	color: #65768570;
}